<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deathblade.beaconurl">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/mid"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mid"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".SplashScreen"
            android:theme="@style/Updated">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Website"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".QR"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Admin_Settings"
            android:label="Admin Settings"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings"
            android:theme="@style/Updated"/>
        <activity
            android:name=".Whitelist"
            android:theme="@style/Updated"
            android:label="Beacon Whitelist" />
        <activity android:name=".Whitelist_lists"
            android:theme="@style/Updated"
            android:label="Modify beacon white list"/>
    </application>

</manifest>